Componentes/Fuentes/ClienteEntidadBanco/ClienteEntidadBanco/Service References/WSBanco/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RequestRecepcionPagoCPX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlRecepcionPagoCpx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestRecepcionPagoCPXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestRecepcionPagoCPXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCrearCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlDatosUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCrearCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestCrearCuentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestRecepcionPagoCPXSoapIn">
    <wsdl:part name="parameters" element="tns:RequestRecepcionPagoCPX" />
  </wsdl:message>
  <wsdl:message name="RequestRecepcionPagoCPXSoapOut">
    <wsdl:part name="parameters" element="tns:RequestRecepcionPagoCPXResponse" />
  </wsdl:message>
  <wsdl:message name="RequestCrearCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCrearCuenta" />
  </wsdl:message>
  <wsdl:message name="RequestCrearCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCrearCuentaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="RequestRecepcionPagoCPX">
      <wsdl:input message="tns:RequestRecepcionPagoCPXSoapIn" />
      <wsdl:output message="tns:RequestRecepcionPagoCPXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestCrearCuenta">
      <wsdl:input message="tns:RequestCrearCuentaSoapIn" />
      <wsdl:output message="tns:RequestCrearCuentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestRecepcionPagoCPX">
      <soap:operation soapAction="http://tempuri.org/RequestRecepcionPagoCPX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCrearCuenta">
      <soap:operation soapAction="http://tempuri.org/RequestCrearCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestRecepcionPagoCPX">
      <soap12:operation soapAction="http://tempuri.org/RequestRecepcionPagoCPX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCrearCuenta">
      <soap12:operation soapAction="http://tempuri.org/RequestCrearCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:20855/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:20855/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>